/* 
Colour Reference:

Background Colour and Reading Background Colour: Black.
Secondary Background Colour: Gray - rgb(46,46,46).
Main Text Colour: Red - rgb(204,8,8).
Secondary Text Colour - White. 
Interaction and Selection Colour: Orange - rgb(255,150,0).
Secondary Colours: Yellow - rgb(230,150,3).
*/



/* Webpage Setup Code Block. */
body{
    background-color: black;
    padding: 5px;
    display: flow-root;


}

header{
    background-color: black; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
}

h1,h2,h3,h4,h5,h6,p{
    color: rgb(204, 8, 8);
    font-family: Arial;
}

h1{  
    text-align: center;
    font-weight: bold;
    color: rgb(204, 8, 8);
    font-size: 36px;
}

h3{
    font-size: 22px;
}

p{
    font-size: 15px;
}

hr{
    color: rgb(230, 150, 3);
}

main{
    padding: 10px;
    border-radius: 10px;
}



footer{
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
}
/* Webpage Setup END.*/


/* Code for Logo.*/
.Logo{
    
    display: block;
    margin: auto;
    width: 100px;
    height: 100px;
}
/* Logo END. */


/* Code Block for Background Images.*/
.background_img{
    margin-left: auto;
    margin-right: auto;

    bottom: -50;
    right: 50;
    display: block;
    
    width: 100%;
    height: 450px;
}
/* Background END.*/


/* Navigation Bar Code Block*/
nav{
    background-color: rgb(22, 22, 22);
    border-bottom: 1px solid rgb(255, 123, 0, 10);
    text-align: center;
}

nav ul{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li{ 
    border: 4px;
    border-color: black;
    width: 10%;
    background-color: black;
    list-style-type: none; 
    padding: 0 30px 0 30px; 
}

nav li a{
    color: rgb(204, 8, 8);
    text-align: center;
    font-family: Arial;
    font-weight: bold;
    font-size: 15;
    text-decoration: none;
}

Nav li :hover{
    background-color: black;
    color: white;
}

.active{
    background-color: interactive;
}

Nav>li{
    display: inline-block;
}
/* Navigation Bar END. */


/* Table Code Block. */
table{
    font-family: Arial;
    color: rgb(204, 8, 8);
    font-weight: bold;
    border-collapse: collapse;
}

table td,table th{
    border: 2px solid rgb(230, 150, 3);
}

Table tr:nth-child(even){
    background-color: black;  
}
Table tr:nth-child(odd){
    background-color: rgb(46, 46, 46);  
}

Table tr:hover{
    background-color: rgb(255, 123, 0);
    color: black;
}

Table th{
    background-color: black;
    color: white;
}
/* Table END. */


/* Code Block for Member Images/ Member Image captions. */
.MemberImages{
    border: 4px solid rgb(204, 8, 8);
    outline: 1px solid rgb(230, 150, 3);  
    height: 250px;
    width: 175px;
    
    list-style-type: none;
    font-family: Arial;
    font-size: 10px;
    color:rgb(204, 8, 8);
    text-align: center;
}

#MemName{
    padding-top: 7px;
    list-style-type: none;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    color:rgb(204, 8, 8);
    text-align: center;
}

#MemRole{
    padding-bottom: 12px;
    list-style-type: none;
    font-family: Arial;
    font-size: 13px;
    color: white;
    text-align: center;
}

.MemRowOne{
    display: flex; 
    justify-content: space-between;
    margin: auto;
    padding: 10px;
}

.MemRowTwo{
    display: flex; 
    justify-content: space-between;
    margin: auto;
    padding: 10px;
}

.Members{
    margin: auto;    
}
/* Member Images END. */


form{
    color: rgb(204, 8, 8);
    font-family: Arial;
    font-size: 10px;
    
}

.PageTitle{
    text-align: center;
    text-decoration: underline;
}


#Sepultura{
    position: relative;
    z-index: 0;
    height: 250;
    width: 400;
    border: 4px solid rgb(204, 8, 8);
    outline: 1px solid rgb(230, 150, 3); 
    margin: 5px;
    rotate: -10deg;
}

#Slayer{
    position: relative;
    z-index: -1;
    height: 250;
    width: 400;
    border: 4px solid rgb(204, 8, 8);
    outline: 1px solid rgb(230, 150, 3);
    margin: 5px;
    rotate: 15deg;   
}

#Pantera{   
    height: 250;
    width: 400;
    border: 4px solid rgb(204, 8, 8);
    outline: 1px solid rgb(230, 150, 3);
    margin: 5px; 
    rotate: -15deg;
}

#Faith{   
    height: 250;
    width: 400;
    border: 4px solid rgb(204, 8, 8);
    outline: 1px solid rgb(230, 150, 3); 
    margin: 5px;
    rotate: 5deg;
}



.HmImg{
    padding: 5px;
    padding-top: 40px;
    float: left;
    width: 70%;

}

.Twitter{
    /* border-radius: 10px; */
    width: 25%;
    height: 600px;
    overflow: auto;    
}

.Gallery{
    background-color: rgb(204, 8, 8);
    border: 4px solid black;
    outline: 1px solid rgb(230, 150, 3);
    padding: 13px;
}

.RowOne, .RowTwo,.RowThree{
    display: flex; 
    justify-content: space-between;
    margin: auto;
    padding: 3px;
}

.RowOne, .RowTwo{
    padding-bottom: 60px;
}

.GalImg{
    width: 300px;
    height: 225px;
}

.GalImg:hover{
    border: 3px solid rgb(230, 150, 3);
    transform: scale(1.1);  
}

.ImgDes{
    position: relative;
    bottom: 0; 
    right: 0; 
    background: black; 
    color: rgb(204, 8, 8);
    border:1px solid rgb(230, 150, 3); 
    margin-bottom: 5px; 
    font-family: Arial; 
    font-size: 15; 
    text-align: center;
     
    opacity: 0; 
    visibility: hidden; 
    
}

.TextTrigger:hover .ImgDes{
    visibility: visible;
    opacity: 1;
}















