/* 
Colour Reference:

Background Colour and Reading Background Colour: Black.
Secondary Background Colour: Gray - rgb(46,46,46).
Main Text Colour: Red - rgb(204,8,8).
Secondary Text Colour - White. 
Interaction and Selection Colour: Orange - rgb(255,150,0).
Secondary Colours: Yellow - rgb(230,150,3).
*/



/* Webpage Setup Code Block. */
body{
    background-color: black;
    padding: 5px;
    display: flow-root;


}

header{
    background-color: black; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
}

h1,h2,h3,h4,h5,h6,p{
    color: rgb(204, 8, 8);
    font-family: Arial;
}

h1{  
    text-align: center;
    font-weight: bold;
    color: rgb(204, 8, 8);
    font-size: 36px;
}

h3{
    font-size: 22px;
}

p{
    font-size: 15px;
}

hr{
    color: rgb(230, 150, 3);
}

main{
    padding: 10px;
    border-radius: 10px;
}



footer{
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
}
/* Webpage Setup END.*/


/* Code for Logo.*/
.Logo{
    
    display: block;
    margin: auto;
    width: 100px;
    height: 100px;
}
/* Logo END. */


/* Code Block for Background Images.*/
.background_img{
    margin-left: auto;
    margin-right: auto;

    bottom: -50;
    right: 50;
    display: block;
    
    width: 100%;
    height: 450px;
}
/* Background END.*/


/* Page Title. */
.PageTitle{
    text-align: center;
    text-decoration: underline;
}
/* Page Title END. */


/* Navigation Bar Code Block*/


nav{
    background-color: black;
    border-bottom: 1px solid rgb(255, 123, 10);
    text-align: center;
}

nav ul{
    margin: 0;
    padding: 0;
    overflow: hidden;   
}

nav li{ 
    border: 5px;
    width: 10%;
    background-color: black;
    list-style-type: none; 
    padding: 0 35px 0 35px; 
}

nav li a{
    /* Text styling for each of the nav bar headings. */
    color: rgb(204, 8, 8);
    text-align: center;
    font-family: Arial;
    font-weight: bold;
    font-size: 15;
    text-decoration: none;   
    
    /* Block for the dividers between each of the nav bar headings. */
    /* Controlling the thickness, colour, background colour, etc. */
    display: block;
    border-right: 1px solid rgb(255, 123, 10);
    border-left: 1px solid rgb(255, 123, 10);
    background-color: black;
 }

Nav li :hover{
    background-color: black;
    color: white;
}

.active{
    background-color: interactive;
    padding-bottom: 10px;
} 

Nav>li{
    display: inline-block;
}

/* Navigation Bar END. */


/* Calendar Code Block. */
table{
    font-family: Arial;
    color: rgb(204, 8, 8);
    font-weight: bold;
    border-collapse: collapse;
}

table td,table th{
    border: 2px solid rgb(230, 150, 3);
}

Table tr:nth-child(even){
    background-color: rgb(14, 14, 14);  
}
Table tr:nth-child(odd){
    background-color: rgb(46, 46, 46);  
}

Table tr:hover{
    background-color: rgb(255, 123, 0);
    color: black;
}

Table th{
    background-color: black;
    color: white;
}
/* Calendar END. */


/* Code Block for Member Images/ Member Image captions. */
.MemberImages{
    border: 4px solid rgb(204, 8, 8);
    outline: 1px solid rgb(230, 150, 3);  
    height: 250px;
    width: 175px;
    
    list-style-type: none;
    font-family: Arial;
    font-size: 10px;
    color:rgb(204, 8, 8);
    text-align: center;
}

#MemName{
    padding-top: 6px;
    list-style-type: none;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    color:rgb(204, 8, 8);
    text-align: center;
}

#MemRole{
    position: relative;
    padding-bottom: 25px;
    list-style-type: none;
    font-family: Arial;
    font-size: 12px;
    color: white;
    text-align: center;
}

.MemRowOne{
    display: flex; 
    justify-content: space-between;
    margin: auto;
    padding: 10px;
    padding-top: 25px;
}

.MemRowTwo{
    display: flex; 
    justify-content: space-between;
    margin: auto;
    padding: 10px;
}

.Members{
    margin: auto;    
}

.RoleDiv{
    padding: 0.5px;
    margin-left: 15px;
    margin-right: 15px;
}
/* Member Images END. */


/* Home Page Images. */
#Sepultura{
    position: relative;
    z-index: 0;
    height: 250;
    width: 400;
    border: 4px solid rgb(204, 8, 8);
    outline: 1px solid rgb(230, 150, 3); 
    margin: 5px;
    rotate: -10deg;
}

#Slayer{
    position: relative;
    z-index: -1;
    height: 250;
    width: 400;
    border: 4px solid rgb(204, 8, 8);
    outline: 1px solid rgb(230, 150, 3);
    margin: 5px;
    rotate: 15deg;   
}

#Pantera{   
    height: 250;
    width: 400;
    border: 4px solid rgb(204, 8, 8);
    outline: 1px solid rgb(230, 150, 3);
    margin: 5px; 
    rotate: -15deg;
}

#Faith{   
    height: 250;
    width: 400;
    border: 4px solid rgb(204, 8, 8);
    outline: 1px solid rgb(230, 150, 3); 
    margin: 5px;
    rotate: 5deg;
}

.HmImg{
    padding: 5px;
    padding-top: 40px;
    float: left;
    width: 65%;

}
/* Home Page Images END. */


.Twitter{
    width: 25%;
    height: 600px;
    overflow: auto;    
}

/* Code Block for the Gallery. */
.Gallery{
    background-color: rgb(143, 7, 7);
    border: 4px solid black;
    outline: 1px solid rgb(230, 150, 3);
    padding: 13px;
}

.RowOne, .RowTwo,.RowThree{
    display: flex; 
    justify-content: space-between;
    margin: auto;
    padding: 3px;
    padding-left: 5px;
    padding-right: 8px;
}

.RowOne, .RowTwo{
    padding-bottom: 80px;
}

.GalImg{
    width: 300px;
    height: 225px;
    border: 4px solid rgb(230, 150, 3);
    outline: 2px solid black; 
}

.GalImg:hover{
    border: 3px solid rgb(230, 150, 3);
    transform: scale(1.1);  
}

.ImgDes{
    position: relative;
    bottom: 0; 
    right: 0; 
    background: black; 
    color: rgb(204, 8, 8);
    border:1px solid rgb(230, 150, 3); 
    margin-bottom: 5px; 
    font-family: Arial; 
    font-size: 15; 
    text-align: center;
    
    opacity: 0; 
    visibility: hidden;   
}

.TextTrigger:hover .ImgDes{
    visibility: visible;
    opacity: 1;
}

.divider{
    position: relative;
    background: black; 
    border: 1px solid rgb(230, 150, 3);
    height: 3px;
    bottom: 50px;
}
/* Gallery End. */


/* Contact Us Page */
/* -- Block for the Columns and Twitter Feed.*/
.MainBody{
    padding-top: 20px;
    display: flex; 
    justify-content: space-between;
}

.FormBlock{
    width: 50%;
    color: rgb(204, 8, 8);
    font-family: Arial;
    font-size: 15px;
    float: left;   
}

.TwitterBlock{
    width: 50%;
    padding-right: 20px;
}

#TwitterHeading{
    text-align: center;
    text-decoration: underline;

}

.TwitterFeed{
    height: 800px;
    width: 400px;
    overflow: auto;
    float: right;
    border: 5px solid black;
    outline: 2px solid rgb(230, 150, 3);
}
/* -- Twitter Block END.*/

/* Block for Styling the Form. */
input[type=text]{
    border: 1px solid rgb(204, 8, 8);
    outline: 1px solid rgb(230, 150, 3);
}

textarea{
    border: 2px solid rgb(204, 8, 8);
    outline: 1px solid rgb(230, 150, 3);
}
fieldset{
    border: 4px solid black;
    outline: 2px solid rgb(230, 150, 3);
    background-color: rgb(20, 20, 20);
}

label{
    color: white;
    font-weight: bold;
}

legend{
    font-size: 15px;
    font-weight: bold;
}
/* Form Styling END. */

#Frame{
    padding-top: 40px;
}

#Demons{
    width: 930px;
    position: relative;
    border: 4px solid black;
    outline: 2px solid rgb(230, 150, 3);
}


/* Albums Page */

.albums {
    cursor: pointer;
    padding: 15px;
    width: 100%;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    border: 3px solid black;
    outline: 1px solid rgb(230, 150, 3);
    transition: 0.4s;
  }

  #odd{
    background-color:rgb(14, 14, 14);
    color: rgb(204, 8, 8);
  }
  #even{
    background-color:rgb(46, 46, 46);
    color: rgb(204, 8, 8);
  }

  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .toggle, .albums, #even:hover {
    background-color: rgb(255, 123, 0);
    color: black;
  }

  .toggle, .albums, #odd:hover {
    background-color: rgb(255, 123, 0); 
    color: black;
  }

  /* Style the accordion panel. Note: hidden by default */
  .panel {
    background-color: rgb(143, 7, 7);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
 
  .albums:after{
    content: '\25ba';
    font-size: 13px;
    color: rgb(204, 8, 8);
    float: right;
    margin-left: 10px; 
  }
  
  .toggle:after {
    content: '\25bc';
    color: rgb(204, 8, 8);
  }
  

  *{
    box-sizing: border-box;
  }


  .AlbumContainer{
    padding: 15px;

  }

  .AlbumRow{
    background-color: rgb(14, 14, 14);
    border: 4px solid black;
    outline: 1px solid rgb(230, 150, 3);
    padding-bottom: 5px;
    padding-top: 5px;
  }
  

    .AlbumRow:after {
    content: "";
    display: table;
    clear: both
  } 

    .column-66 {
    text-align: center;
    float: left;
    width: 66%;
    padding: 5px;
    margin-left: 10px; 
    margin-top: 6px; 
    background-color: black;
    border: 2px solid rgb(255, 123, 0);
    outline: 1px solid rgb(204, 8, 8);
    
  }
  
    .column-33 {
    float: left;
    width: 33%;
    padding: 15px;

  }

  .AlbumCover{
    display: block;
    margin:auto;
    width: 300px;
    height: 300px; 
    border: 2px solid rgb(230, 150, 3);
    outline: 2px solid rgb(204, 8, 8);
  }

  .FontSet{
    color: rgb(255, 123, 0);
  }

  .AlbumDiv{
    margin-left: 450px;
    margin-right: 450px;
  }
  





  































