/* 
Colour Reference:

Background Colour and Reading Background Colour: Black.
Secondary Background Colour: Gray - rgb(46,46,46).
Main Text Colour: Red - rgb(204,8,8).
Secondary Text Colour - White. 
Interaction and Selection Colour: Orange - rgb(255,150,0).
Secondary Colours: Yellow - rgb(230,150,3).
*/



/* Webpage Setup Code Block. */
body{
    background-color: black;
    padding: 4px;
    display: flow-root;
    margin: auto;
}

header{
    background-color: black; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
}

h1,h2,h3,h4,h5,h6,p{
    color: rgb(204, 8, 8);
    font-family: Arial;
}

h1{  
    text-align: center;
    font-weight: bold;
    color: rgb(204, 8, 8);
    font-size: 36px;
}

h3{
    font-size: 22px;
}

p{
    font-size: 15px;
}

hr{
    color: rgb(255, 123, 10);
}

main{
    padding: 10px;
    border-radius: 10px;
}

footer{
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
}

/* @media screen and (max-width: 1200px){
    .HmImg{
        width: 100%;
    }

    .active{
        width: 100%;
    }
  } */
/* Webpage Setup END.*/

/* --------------------------------------------------------------- */

/* Block for Bootstrap Fixes */
#BootAdjust{
    margin: auto;
    opacity: 1;
}

#BootFont{
    color: rgb(204, 8, 8);
    font-family: Arial;
}

#BootHeading{
    margin-top: 24px;
    margin-bottom: 18px;
}

#BootImg{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    height: 450px;
}

#BootHr{
    border-width: 2px;
    opacity: 1;
}

.BootProtText{
    font-size: 25px;
    font-weight: bold;
    font-family: Arial;
    text-align: center;
    text-decoration: underline;
}

.BootProtection{
    position: sticky;
    top: 0px;
    z-index: 1;
}
/* Bootstrap END. */

/* --------------------------------------------------------------- */

/* Code for Logo and Main Image.*/
.Logo{
    display: block;
    margin: auto;
    width: 100px;
    height: 100px;
}

.background_img{
    margin-left: auto;
    margin-right: auto;

    bottom: -50;
    right: 50;
    display: block;
    
    width: 100%;
    height: 450px;
}
/* Logo and Background END.*/


/* Page Title. */
.PageTitle{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}
/* Page Title END. */

/* --------------------------------------------------------------- */

/* Navigation Bar Code Block*/

/* Setting the Nav Bar so it sticks to the top of the page. */
.navBar{
    position: sticky;
    top: 0px;
    z-index: 100;
}

nav{
    background-color: black;
    border-bottom: 1px solid rgb(255, 123, 10);
    text-align: center;
}

nav ul{
    margin: 0;
    padding: 0;
    overflow: hidden;   
}

nav li{ 
    border: 5px;
    width: 10%;
    background-color: black;
    list-style-type: none; 
    padding: -5px 35px 0 35px; 
}

nav li a{
    /* Text styling for each of the nav bar headings. */
    margin-top: 20px;
    color: rgb(204, 8, 8);
    text-align: center;
    font-family: Arial;
    font-weight: bold;
    font-size: 13pt;
    text-decoration: none; 
    line-height: 20pt;
    
    /* Block for the dividers between each of the nav bar headings. */
    /* Controlling the thickness, colour, background colour, etc. */
    display: block;
    border-right: 1px solid rgb(255, 123, 10);
    border-left: 1px solid rgb(255, 123, 10);
    background-color: black;
}

Nav li :hover{
    background-color: black;
    color: white;
}


.active{
    background-color: interactive;
    padding-bottom: 10px;
} 

.active a{
    -webkit-text-stroke: 1px rgb(143, 7, 7);
    color: rgb(230, 150, 3);
}


Nav>li{
    display: inline-block;
}


/* Navigation Bar END. */

/* --------------------------------------------------------------- */

/* Calendar Code Block. */
table{
    font-family: Arial;
    color: rgb(204, 8, 8);
    font-weight: bold;
    border-collapse: collapse;
}

table td,table th{
    border: 2px solid rgb(230, 150, 3);
}

Table tr:nth-child(even){
    background-color: rgb(14, 14, 14);  
}
Table tr:nth-child(odd){
    background-color: rgb(46, 46, 46);  
}

Table tr:hover{
    background-color: rgb(255, 123, 0);
    color: black;
}

Table th{
    background-color: black;
    color: white;
}
/* Calendar END. */

/* --------------------------------------------------------------- */

/* Code Block for Member Images/ Member Roles, etc. */

/* Cenetering the Members Container. */
.Members{
    margin: auto;  
    background-color: rgb(95, 1, 1);  
    padding-left: 20px;
    padding-right: 20px;
    border: 4px solid black ;
    outline: 1px solid rgb(230, 150, 3);

}

/* Top Row of the Members. */
.MemRowOne {
    display: flex; 
    justify-content: space-between;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(14, 14, 14); 
    border: 4px solid black;
    outline: 1px solid rgb(230, 150, 3); 
    
}

/* Bottom Row of the Members. */
.MemRowTwo{
    display: flex; 
    justify-content: space-between;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(20, 20, 20); 
    border: 4px solid black;
    outline: 1px solid rgb(230, 150, 3); 
}

/* Setting the Css for all the Images so they're the same size, etc. */
.MemberImages{
    border: 4px solid rgb(95, 1, 1);
    outline: 1px solid rgb(230, 150, 3);  
    height: 260px;
    width: 200px;
    list-style-type: none;
    font-family: Arial;
    font-size: 10px;
    color:rgb(204, 8, 8);
    text-align: center;   
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px
}

.ImgBorder{
    position: relative;
    background-color: black;  
    border: 2px solid rgb(14, 14, 14);
    outline: 1px solid rgb(46, 46, 46);

}

/* CSS for the Member Name. */
#MemName{
    padding-top: 6px;
    list-style-type: none;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    color:rgb(204, 8, 8);
    text-align: center;
}

/* Divider between the Name and Member Role. */
.RoleDiv{
    padding: 0.5px;
    margin-left: 15px;
    margin-right: 15px;
}

/* CSS for the Member Role Description. */
#MemRole{
    position: relative;
    padding-bottom: 25px;
    list-style-type: none;
    font-family: Arial;
    font-size: 12px;
    color: white;
    text-align: center;
}

.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: black;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .2s ease;
    z-index: 1;  
}

.MemText{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    border: 1px solid rgb(230, 150, 3);
    padding: 30%;
    padding-top: 25%;
}
.MemText p{
    font-size: 13px;
    color: white;
}

.MemTextDiv{
    color: rgb(20, 20, 20);
    margin-left: 40px;
    margin-right: 40px;
    opacity: 0.8;
}

  .ImgBorder:hover .overlay {
    bottom: 0;
    height: 100%;
  }
/* Member Images END. */

/* --------------------------------------------------------------- */

/* Home Page */
/* Home Page Images. */

/* Container for the Images. */
.HmImg{
    padding: 20px;
    padding-left: 100px;
    float: left;
    width: 65%;
}

/* Seperate ID for each image so they can be rotated and overlapped. */
#Sepultura{
    position: relative;
    z-index: 0;
    height: 250;
    width: 400;
    border: 4px solid rgb(204, 8, 8);
    outline: 1px solid rgb(230, 150, 3); 
    margin: 5px;
    rotate: -10deg;
}

#Slayer{
    position: relative;
    z-index: -1;
    height: 250;
    width: 400;
    border: 4px solid rgb(204, 8, 8);
    outline: 1px solid rgb(230, 150, 3);
    margin: 5px;
    rotate: 15deg;   
}

#Pantera{   
    height: 250;
    width: 400;
    border: 4px solid rgb(204, 8, 8);
    outline: 1px solid rgb(230, 150, 3);
    margin: 5px; 
    rotate: -15deg;
}

#Faith{   
    height: 250;
    width: 400;
    border: 4px solid rgb(204, 8, 8);
    outline: 1px solid rgb(230, 150, 3); 
    margin: 5px;
    rotate: 5deg;
}
/* Home Page Images END. */

.Twitter{
    width: 25%;
    height: 600px;
    overflow: auto;    
}

.loginBar{
    padding-top: 10px;
    display: inline-block;
    width: 100%;
   
}
  
#loginForm{
    float: right;
    text-align: right;
    width: 30%;
    padding-bottom: 10px;
}

#musicSection{
    float: left;
    width: 70%;
    margin-top: -10px;
}

#loginDiv{
    margin-left: 35%;
}

.MsgDiv{
    opacity: 20%;
    margin-left: 150px;
    margin-right: 150px;
}

.MessageCont{
    height: 100px;
    width:100%;
    background-color: black;
    margin-bottom: 170px;
}

.PageMessage{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    text-align: center;    
    background-color: rgb(95, 1, 1);
    border: 4px solid black;
    outline: 1px solid rgb(230, 150, 3);
}

.PageMessage h4 {
    color: black;
}


/* HomePage END */

/* --------------------------------------------------------------- */

/* Code Block for the Gallery. */
.Gallery{
    background-color: rgb(95, 1, 1);
    border: 4px solid black;
    outline: 1px solid rgb(230, 150, 3);
    padding: 13px;
}

.RowOne, .RowTwo,.RowThree{
    display: flex; 
    justify-content: space-between;
    margin: auto;
    padding: 3px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(14, 14, 14);
    /* border: 2px solid black;
    outline: 1px solid rgb(255, 123, 0); */
    border: 4px solid black;
    outline: 1px solid rgb(230, 150, 3);
    margin-bottom: 55px;
}

.ImgFunc{
    margin-top: 15px;   
}

.ImgDec{
    color: rgb(95, 1, 1);
    margin-left: 50px;
    margin-right: 50px;
    border-width: 2px;
    opacity: 0.5;
}

.GalImgBorder{
    background-color: black; 
    border: 4px solid rgb(20, 20, 20);
    outline: 1px solid rgb(46, 46, 46);
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.GalImg{
    width: 300px;
    height: 225px;
    border: 4px solid rgb(95, 1, 1);
    outline: 1px solid rgb(230, 150, 3);
    cursor: pointer;
}

/* .GalImg:hover{
    border: 3px solid rgb(230, 150, 3);
    transform: scale(1.1);  
} */

.ImgDes{
    position: relative;
    bottom: 0; 
    right: 0; 
    background: rgb(14, 14, 14); 
    color: rgb(204, 8, 8);
    border:1px solid rgb(230, 150, 3); 
    margin-bottom: 5px; 
    font-family: Arial; 
    font-size: 15; 
    text-align: center;
    
    opacity: 0; 
    visibility: hidden;   
}

/* .ImgFunc:hover .ImgDes{
    visibility: visible;
    opacity: 1;
} */

.divider{
    position: relative;
    background: black; 
    border: 1px solid rgb(230, 150, 3);
    bottom: 30px;
    padding-top: 3px;
    margin-left: 200px;
    margin-right: 200px;
}

.Gallery .pop-up-img{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    height: 100%;
    width: 100%;
    z-index: 1;
    display: none;
}

.Gallery .pop-up-img span{
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 60px;
    font-weight: bold;
    color: rgb(143, 7, 7);
    cursor: pointer;
}

.Gallery .pop-up-img img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 750px;
    object-fit: cover;
    border: 2px solid black;
    outline: 1px solid rgb(230, 150, 3);
}

#carouselExampleAutoplaying{
    margin-left: 5px;
    margin-right: 5px;
}
/* Gallery END. */

/* --------------------------------------------------------------- */

/* Contact Us Page */
/* -- Block for the Columns and Twitter Feed.*/
.MainBody{
    padding-top: 20px;
    display: flex; 
    justify-content: space-between;
}

.FormBlock{
    width: 50%;
    color: rgb(204, 8, 8);
    font-family: Arial;
    font-size: 15px;
    float: left;   
}

.TwitterBlock{
    width: 50%;
    padding-right: 20px;
    margin-top: 40px;
}

#TwitterHeading{
    text-align: center;
    text-decoration: underline;

}

.TwitterFeed{
    height: 850px;
    width: 400px;
    overflow: auto;
    float: right;
    border: 5px solid black;
    outline: 2px solid rgb(230, 150, 3);
}
/* -- Twitter Block END.*/

/* Block for Styling the Form. */
input[type=text]{
    border: 1px solid rgb(204, 8, 8);
    outline: 1px solid rgb(230, 150, 3);
}

textarea{
    border: 2px solid rgb(204, 8, 8);
    outline: 1px solid rgb(230, 150, 3);
}

fieldset{
    border: 4px solid black;
    outline: 2px solid rgb(230, 150, 3);
    background-color: rgb(20, 20, 20);
    margin-bottom: 10px;
}

label{
    color: white;
    font-weight: bold;
}

legend{
    font-size: 15px;
    font-weight: bold;
}
/* Form Styling END. */

#Frame{
    padding-top: 40px;
}

#form_outcome{
    float: right;
    margin-bottom: 10px;
}

#Demons{
    width: 100%;
    position: relative;
    border: 4px solid black;
    outline: 2px solid rgb(230, 150, 3);
}
/* Contact Us END. */

/* --------------------------------------------------------------- */

/* Albums Page */
.albums{
    cursor: pointer;
    padding: 15px;
    width: 100%;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    border: 3px solid black;
    outline: 1px solid rgb(230, 150, 3);
    transition: 0.4s;
}

#odd{
    background-color:rgb(14, 14, 14);
    color: rgb(204, 8, 8);
}

#even{
    background-color:rgb(46, 46, 46);
    color: rgb(204, 8, 8);
}

  
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.toggle, .albums, #even:hover{
    background-color: rgb(255, 123, 0);
    color: black;
}

.toggle, .albums, #odd:hover{
    background-color: rgb(255, 123, 0); 
    color: black;
}

/* Style the accordion panel. Note: hidden by default */
.panel{
    background-color: rgb(95, 1, 1);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
 
.albums:after{
    content: '\25ba';
    font-size: 13px;
    color: rgb(204, 8, 8);
    float: right;
    margin-left: 10px; 
}
  
.toggle:after{
    content: '\25bc';
    color: rgb(204, 8, 8);
}
  

*{
    box-sizing: border-box;  
}

.AlbumContainer{
    padding: 15px;
}

.AlbumRow{
    background-color: rgb(14, 14, 14);
    border: 4px solid black;
    outline: 1px solid rgb(230, 150, 3);
    padding-bottom: 5px;
    padding-top: 5px;
}
  
.AlbumRow:after{
    content: "";
    display: table;
    clear: both
} 

.column-66{
    text-align: center;
    float: left;
    width: 66%;
    padding: 5px;
    margin-left: 10px; 
    margin-right: 5px;
    margin-top: 6px;
    margin-bottom: 6px; 
    background-color: black;
    border: 2px solid black;
    outline: 1px solid rgb(230, 150, 3);   
}
  
.column-33{
    float: left;
    width: 33%;
    padding: 15px;

}

.AlbumCover{
    display: block;
    margin:auto;
    width: 300px;
    height: 300px; 
    margin-top: 23px;
    border: 2px solid black;
    outline: 1px solid rgb(230, 150, 3);   
}

.AlbumDiv{
    margin-left: 450px;
    margin-right: 450px;
}

#AlbumSep{
    margin-left: 200px;
    margin-right: 200px;
}

/* --------------------------------------------------------------- */

/* Footer Styling and Social Media */
.fa{
    background-color: rgb(46, 46, 46); 
    border: 2px solid black;
    outline: 1px solid rgb(230, 150, 3); 
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px;
    color: rgb(143, 7, 7);
}

.fa:hover{
    opacity: 0.7;
    color: rgb(230, 150, 3);
}

.SocialLinks{
    padding: 10px;
    width: 80%;
    float: right;
    text-align: right;
}

.copyRight{
    padding: 10px;
    width: 20%;
    float: left;
}

.footerContainer{
    background-color: rgb(20, 20, 20);
    width: 100%;
    display: inline-block;
    border: 2px solid black;
    outline: 1px solid rgb(255, 123, 10);
    margin-top: 10px;
    margin-bottom: 20px;
    padding-right: 20px;
}

/* Footer Styling END. */

/* --------------------------------------------------------------- */

/* Projects Page */

/* Project Body */
#ProjectCards{
    background-color: rgb(95, 1, 1);
    border: 4px solid black;
    outline: 1px solid rgb(230, 150, 3);
}

.ProjectContainer{
    padding: 10px;
}

.ProjectRow{
    background-color: rgb(14, 14, 14);
    border: 4px solid black;
    outline: 1px solid rgb(230, 150, 3);
    padding-bottom: 5px;
    padding-top: 5px;
}

.column-60{
    text-align: center;
    float: left;
    width: 64%;
    height: 90%;
    margin-top: 90px;
    margin-bottom: 10px;
    background-color: black;
    border: 2px solid rgb(20, 20, 20);
    outline: 1px solid rgb(46, 46, 46); 
    padding: 20px;    
}

#MarginAdjust{
    margin-left: 30px;
}


.column-40{
    float: left;
    width: 33%;
    padding: 10px;
    text-align: center;
    padding-left: 40px;
}

#PadAdj{
    padding-right: 40px;
}


.ProjectInfo{
    display: block;
    margin:auto;
    width: 300px;
    height: 300px; 
    border: 2px solid rgb(230, 150, 3);
    outline: 2px solid rgb(204, 8, 8);
}

.ProjectRow:after {
    content: "";
    display: table;
    clear: both
} 
/* Project Body END*/

/*Card Styling*/  
.card__inner {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 80%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}
  
.card__inner.is-flipped {
    transform: rotateY(180deg);
}
  
.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16px;
}
  
.card__face--front {
    background-color: rgb(20, 20, 20);
    border: 2px solid black;
    outline: 1px solid rgb(230, 150, 3);
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.card__face--front h2 {
    color: rgb(204, 8, 8);
    font-size: 32px;
}
  
.card__face--back {
    background-color: rgb(20, 20, 20);
    transform: rotateY(180deg);
    border: 2px solid black;
    outline: 1px solid rgb(230, 150, 3);
}
  
.card__content {
    width: 100%;
    height: 100%;
}
  
.card__header {
    position: relative;
    padding: 30px 30px 40px;
    border-bottom: 1px solid rgb(230, 150, 3);
    outline: 5px solid rgb(143, 7, 7);
}
  
.card__header:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(46, 46, 46);
    z-index: -1;
}
  
.BandLogo {
    display: block;
    width: 200px;
    height: 128px;
    margin: 0 auto 30px;
    border-radius: 25%;
    border: 5px solid black;
    outline: 1px solid rgb(230, 150, 3);
    object-fit: cover;
}
  
.card__body {
    height: 100%;
    margin-top: 12px;
    padding: 30px;
    border-top: 1px solid rgb(230, 150, 3);
    outline: 5px solid rgb(143, 7, 7);
    
}
  
.card__body h3 {
    color: rgb(204, 8, 8);
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
}

.BandImg{
    width: 85%;
    padding: 20px;
    margin: 30px;
}

.ProjImg{
    width: 70%;
    border: 2px solid black;
    outline: 2px solid rgb(230, 150, 3);
}

.ProjAlbums{
    width: 190px;
    height: 190px;
    border: 2px solid black;
    outline: 1px solid rgb(230, 150, 3);
}

.BandInfo{
    float: right;
    width: 40%;
    background-color: black;
    border: 2px solid rgb(20, 20, 20);
    outline: 1px solid rgb(46, 46, 46); 
}

.CurrProj{
    margin-top: 15px;
    margin-bottom: 5px;
    padding-bottom: 10px;
    background-color: black;
    border: 2px solid rgb(20, 20, 20);
    outline: 1px solid rgb(46, 46, 46); 
}

.ProjSupport{
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    background-color: black;
    border: 2px solid black;
    outline: 1px solid rgb(230, 150, 3); 
}

.audio{
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    border: 2px solid black;
    outline: 1px solid rgb(230, 150, 3); 
}

.ProjDiv{
    margin-right: 50px;
    margin-left: 50px;
}

.TextDiv{
    margin-right: 300px;
    margin-left: 300px;
}

.BandText{
    width: 55%;
    float: left;
    background-color: black;
    border: 2px solid rgb(20, 20, 20);
    outline: 1px solid rgb(46, 46, 46); 
}

.fb-page{
    width: 100%;
    height: 400px;  
}

.BandTitle{
    font-weight: bold;
    text-decoration: underline;
}

.SocialMedia{
    background-color: black;
    border: 2px solid rgb(20, 20, 20);
    outline: 1px solid rgb(46, 46, 46); 
    margin-bottom: 15px;
    overflow: auto;
}